header {
	
	background-image: url("../imagenes/ban1.png");
	
}

.content {
	
	background-image: url("../imagenes/fon.png");
	
}

footer {
	
	background-image: url("../imagenes/ban2.png");
	
}