.horizontalflex {
	
	display: flex;
	
	flex-direction: row;
	
	justify-content: space-between;
	
	align-items: center;
	
}

.carousel {
	
	display: flex;
	
	flex-direction: row;
	
	justify-content: space-between;
	
	align-items: center;
	
	
}